.task-form {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.51);
    border-radius: 10px;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

.task-form input {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.task-form button {
    font-size: 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color: #EAEAEA;
    position: absolute;
    right: 1em;
    margin: 5px 5px 0 0;
    cursor: pointer;
    transition: background 1s ease, color 1s ease;
}

.task-form button[data-theme="light"] {
    background: #38ada9;
    color: #fff;
}

.task-form button[data-theme="dark"] {
    background: #111;
    color: #EAEAEA;
}